body{
background-color: rgb(250, 250, 250);
}

.titulo{ 
    color: aqua;
}

.botao{
    background-color: rgba(206, 3, 189, 0.123);
    color: rgb(99, 3, 78);
    font-size:rgb(161, 7, 182) ;
    text-decoration: line-through;
    padding: 0ch;
    border-radius: 0cqmax;
}