body{
background-color: rgb(226, 189, 233);
}

.titulo{ 
    color: rgb(8, 1, 10);
}

.botao{
    background-color: rgba(250, 158, 241, 0.123);
    color: rgb(182, 9, 235);
    font-size:rgb(207, 2, 248) ;
    text-decoration: none;
    padding: 0ch;
    border-radius: 0cqmax;
}